@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Employee Leave Management System using ASP.NET Core and Entity Framework Development</h1>
    <p>Visit <a href="https://darfydev.com" target="_blank">my portfoilio website</a> to see other projects.</p>
</div>

<p><strong>Key Competencies used in completing this project: </strong></p>
<ul>
    <li><p>Database connection using <strong>Entity Framework Core</strong></p></li>
    <li><p><strong>Repository Pattern </strong>and <strong>Dependency Injection</strong></p></li>
    <li><p><strong>MVC (Models, Views and Controllers)</strong> Pattern</p></li>
    <li><p>C# and .NET Core Web Syntax</p></li>
    <li><p>User <strong>Authentication </strong>using <strong>ASP.NET Core Identity</strong></p></li>
    <li><p><strong>Entity Framework Core Data</strong> <strong>Models</strong>, <strong>View Models </strong>and <strong>AutoMapper </strong></p></li>
    <li><p>Understand <strong>Security </strong>measures to be taken in development </p></li>
    <li><p><strong>Bootstrap </strong>to style and manipulate the overall layout</p></li>
    <li><p><strong>NuGet Package Manager</strong></p></li>
    <li><p>Website Layout using <strong>a Third-Party Admin Theme</strong></p></li>
    <li><p><strong>Git and GitHub </strong>for Source Control</p></li>
    <li><p>Setup<strong> IIS Server</strong> on Local Machine (Or Windows Server)</p></li>
    <li><p>Setup <strong>Microsoft Azure Account</strong></p></li>
    <li><p>Publish .NET Core Application to <strong>IIS </strong></p></li>
    <li><p>Publish .NET Core Application to <strong>Microsoft Azure App Services</strong></p></li>
    <li><p><strong>Implement Email </strong>Services </p><p><br></p></li>
</ul>